<% layout('layouts/boilerplate.ejs') %>
    <section class="all-recipes">
        <h2 class="heading">
            <%= title ? title : 'All Recipes' %>
        </h2>
        <div class="cards">
            <% for(let recipe of recipes) { %>
                <div class="card">
                    <div class="card-img">
                        <% if(recipe.images.length) { %>
                            <img src="<%= recipe.images[0].thumbnail %> " alt="card">
                            <% } else { %>
                                <img src="https://res.cloudinary.com/dk8jzfr34/image/upload/w_1000,ar_1:1,c_fill,g_auto,/v1635163555/chefsBook/uptmbhvoinwkdwctmc8f.jpg"
                                    alt="card">
                                <% } %>
                    </div>
                    <div class="card-content">
                        <div class="card-head">
                            <h3>
                                <%= recipe.name %>
                            </h3>
                            <a href="/recipes/<%= recipe._id %>"><button type="button" class="card-button">View
                                    Recipe</button></a>
                        </div>
                        <div class="text">
                            <p>
                                <%= recipe.description %>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </section>